.wordLearning{
    background: #f4ef58;
    cursor: pointer;
    padding:3px;
    border: 3px solid #d2cd27;
	-webkit-border-radius: 5px;
	border-radius: 3px;
	box-shadow: 2px 2px 1px black;
	font:italic bold 12px/30px Georgia, serif;
}

.tipsy .originalWord {
    font-weight: bold;color:#efe;margin-right: 5px;font-size: 130%;
    font:italic Georgia, serif;
}
.definition {
    color: #efe;margin-left: 5px;font-size: 110%;
    font:italic bold Georgia, serif;
}


