body {
  border: 1px solid #21262C;
  border-radius: 5px;
  margin: 2px;
}

#main {
  background-color: #2F373D;
  border-radius: 4px;
  padding: 22px 28px;

}
#mycontainer {
  min-width: 250px;  
}

#reg {
  background-color: #26B064;
  font-family: Monospace, "GothamBold", Helvetica, Arial, sans-serif;
  font-size: 13px;
  outline: none;
}


.button {
  border-radius: 3px;
  color: white;
  cursor: pointer;
  height: 36px;
  line-height: 36px;
  margin-bottom: 18px;
  overflow: hidden;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.switch label input[type=checkbox]:checked+.lever {
	background-color: #ee6e73 !important;
}
.switch label input[type=checkbox]:checked+.lever:after {
	background-color: #ee6e73 !important;
}
